extends layout

block content
  center
   h1= title 
    hr
    h3
      p Test Links
      a(href="/api/timestamp/2017-07-27", target="_blank").link /api/timestamp/2017-07-27
      br
      br
      a(href="/api/timestamp/1501113600000" target="_blank").link /api/timestamp/1501113600000

