:root {
  user-select: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  font-size: 3vw;
  text-decoration: none;
  transition: 0.2s ease-in;
  margin: 10px 10px;
}
a:hover {
  color: #00b7ff;
  text-decoration: underline;
}
h1 {
  font-size: 3.5vw;
}
